* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, poppins, helvetica;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom left, #3a3b3f, #424347, #37383c, #ff2233);
}
header nav {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 10px #424347;
  font-weight: 500;
  font-size: 18px;
  color: aliceblue;
}
header nav #logo {
  width: fit-content;
}
header nav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav .menu ul li {
  list-style-type: none;
  padding: 20px;
}
header nav .menu ul li:hover {
  color: #ff2233;
  cursor: pointer;
}
header nav .menu button {
  all: unset;
  padding: 8px;
  background-color: #ff2233;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
}
header .container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}
header #catchphrase, header #models {
  width: 45%;
  height: 65%;
  margin-top: 12%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: aliceblue;
}
header #catchphrase h1, header #models h1 {
  font-size: 42px;
}
header #catchphrase h2, header #models h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 3%;
}
header #catchphrase .cta, header #models .cta {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}
header #catchphrase .cta button, header #models .cta button {
  all: unset;
  background-color: #ff2233;
  font-size: 18px;
  font-weight: 500;
  color: aliceblue;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
}
header #catchphrase .cta #video, header #models .cta #video {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  width: 50%;
  height: 100%;
}
header #catchphrase .cta #video img, header #models .cta #video img {
  width: 27%;
  height: auto;
  margin-right: 2%;
}
header #catchphrase .cta #video span:hover, header #models .cta #video span:hover {
  text-decoration: underline;
  cursor: pointer;
}
header #catchphrase #stats, header #models #stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  margin-top: 3%;
}
header #catchphrase #stats span, header #models #stats span {
  width: 30%;
  text-wrap: wrap;
}
header #catchphrase #stats .bd, header #models #stats .bd {
  border-left: solid 2px rgba(240, 248, 255, 0.692);
  border-radius: 1px;
  padding-left: 20px;
}
header #models {
  margin-top: 3%;
  height: 93%;
  background-image: url(models/model.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20%;
}
header #models #inf {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #424347;
  background-color: aliceblue;
  width: 35%;
  border-radius: 12px;
  padding: 3px;
  margin-top: 75%;
  margin-left: -10%;
}
header #models #inf #msg {
  width: 80%;
  font-size: 12px;
  font-weight: 600;
}
header #models #inf #msg span {
  font-size: 10px;
}
header #models #inf #msg h1 {
  font-size: 22px;
}
header #models #inf #msg #color {
  color: #ff662d;
}
header #models #inf .graph {
  height: 75%;
  width: 10px;
  margin-left: 8px;
  border-radius: 5px;
  background-image: linear-gradient(to top right, rgb(248, 172, 30), rgb(226, 24, 24));
}
header #models #inf .graph:nth-child(odd) {
  height: 60%;
}
header .bottom_bar {
  width: 100%;
  background-color: #37383c;
  height: 18%;
  margin-bottom: -8%;
  box-shadow: 2px 2px 10px rgba(19, 19, 26, 0.856);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .bottom_bar span {
  margin-left: 5%;
  width: 30%;
  font-weight: 400;
  color: #efffef;
}
header .bottom_bar span h1 {
  font-size: 42px;
}
header .bottom_bar #company_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
header .bottom_bar #company_icons img {
  width: 10%;
  height: auto;
}

.section_1, .section_2 {
  width: 100%;
  height: 40em;
  background-color: #424347;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_1 #gym, .section_2 #gym {
  margin-top: 15%;
  margin-left: 5%;
  height: 50%;
  width: 35%;
  border-radius: 7%;
  background-image: url(models/gym.jpg);
  background-size: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.781);
}
.section_1 #gym #trainer, .section_2 #gym #trainer {
  width: 32%;
  height: 20%;
  background-color: #efffef;
  float: right;
  margin-right: -10%;
  margin-top: 40%;
  border: solid 0px black;
  border-radius: 6%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.781);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_1 #gym #trainer img, .section_2 #gym #trainer img {
  width: 30%;
  height: auto;
}
.section_1 #gym #trainer span, .section_2 #gym #trainer span {
  font-size: 15px;
  font-weight: 700;
}
.section_1 #motivation, .section_2 #motivation {
  width: 30%;
  height: 65%;
  margin-top: 15%;
  margin-right: 15%;
  color: #efffef;
}
.section_1 #motivation h1, .section_2 #motivation h1 {
  font-size: 32px;
  margin-bottom: 6%;
}
.section_1 #motivation span, .section_2 #motivation span {
  margin-bottom: 6%;
  font-family: poppins;
}
.section_1 #motivation button, .section_2 #motivation button {
  all: unset;
  background-color: #ff2233;
  font-size: 18px;
  font-weight: 500;
  color: aliceblue;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
}

.bottom_nav {
  width: 100%;
  background-color: #37383c;
  height: 20%;
  margin-bottom: -8%;
  box-shadow: 5px 5px 10px rgba(19, 19, 26, 0.89);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #efffef;
}
.bottom_nav h1 {
  width: 40%;
  margin-left: 5%;
  font-size: 37px;
}
.bottom_nav span {
  margin-right: 5%;
  width: 40%;
}

/*# sourceMappingURL=output.css.map */
